In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('ecommerce-data.csv',encoding='UTF-8')
df.head()

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,...,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
0,2023-09-14,Nathaniel,Electronics,Camera,0.01,Colleen Kelly,maryhurst@example.org,"354 Mcdowell Turnpike, Port Charles, CT 95318",908.610.2711x8507,Silver,...,6538306661,and Sons,Ground,49,31965.15,121.07,31844.08,475,127,348
1,2023-02-11,NonExistentProduct,Electronics,Mobile,847.43,Joel Wright,sandersvictoria@example.org,"24740 Fox Villages, New Tracie, MA 53038",+1-408-938-0389x952,Gold,...,NaN,PLC,Air,73,61862.39,91.09,61771.30,487,243,244
2,2021-11-12,Angela,InvalidCategory,Action Figures,386.57,Thomas Sawyer,ospence@example.net,"769 Joe Trail, East Terri, CA 43813",001-929-516-1919x39288,Gold,...,+1-588-750-7646,PLC,Sea,89,34404.73,10.56,34394.17,341,188,153
3,11-15-2021,Amy,Home & Garden,Decor,364.01,Tyler Gardner,christopherjohnson@example.com,"27783 Olivia Centers, Williamsmouth, AL 09809",8907712983,Gold,...,805-650-6257x5876,LLC,Air,3,1092.03,69.06,1022.97,500,124,376
4,2023-04-22,Nathaniel,Electronics,Camera,652.35,Meagan Peterson,epowell@example.net,"25357 Blackwell Locks, Andreabury, MH 27857",9999921886,Gold,...,6538306661,Ltd,Sea,75,48926.25,137.17,48789.08,429,351,78

In [3]:
df.describe()

,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
count,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000,5010.000000
mean,50.827146,28851.529621,86.425236,28765.104385,277.074052,139.116966,137.957086
std,28.523303,23139.578225,70.574899,23112.635714,130.330697,111.016370,110.360693
min,1.000000,46.230000,0.010000,33.600000,50.000000,1.000000,0.000000
25%,26.000000,8864.130000,25.685000,8774.435000,164.000000,49.000000,49.000000
50%,50.000000,23546.135000,69.345000,23424.750000,279.000000,109.000000,107.000000
75%,76.000000,42985.950000,129.277500,42886.600000,393.000000,209.000000,206.000000
max,100.000000,99513.000000,298.110000,99276.950000,500.000000,498.000000,490.000000

In [4]:
df.columns

Index(['Date', 'ProductName', 'ProductCategory', 'ProductSubCategory',
       'ProductPrice', 'CustomerName', 'CustomerEmail', 'CustomerAddress',
       'CustomerPhone', 'CustomerSegment', 'SupplierName', 'SupplierLocation',
       'SupplierContact', 'ShipperName', 'ShippingMethod', 'QuantitySold',
       'TotalAmount', 'DiscountAmount', 'NetAmount', 'StockReceived',
       'StockSold', 'StockOnHand'],
      dtype='object')

In [5]:
print(df.isnull().sum(axis=0))

Date                    0
ProductName             0
ProductCategory         0
ProductSubCategory      0
ProductPrice            0
CustomerName            0
CustomerEmail         507
CustomerAddress         0
CustomerPhone           0
CustomerSegment         0
SupplierName            0
SupplierLocation        0
SupplierContact       484
ShipperName             0
ShippingMethod          0
QuantitySold            0
TotalAmount             0
DiscountAmount          0
NetAmount               0
StockReceived           0
StockSold               0
StockOnHand             0
dtype: int64

In [6]:
duplicates = df[df.duplicated(keep='first')].shape[0] 
duplicates

10

In [7]:
columns=df.columns.tolist()
df[columns[:10]]

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment
0,2023-09-14,Nathaniel,Electronics,Camera,0.01,Colleen Kelly,maryhurst@example.org,"354 Mcdowell Turnpike, Port Charles, CT 95318",908.610.2711x8507,Silver
1,2023-02-11,NonExistentProduct,Electronics,Mobile,847.43,Joel Wright,sandersvictoria@example.org,"24740 Fox Villages, New Tracie, MA 53038",+1-408-938-0389x952,Gold
2,2021-11-12,Angela,InvalidCategory,Action Figures,386.57,Thomas Sawyer,ospence@example.net,"769 Joe Trail, East Terri, CA 43813",001-929-516-1919x39288,Gold
3,11-15-2021,Amy,Home & Garden,Decor,364.01,Tyler Gardner,christopherjohnson@example.com,"27783 Olivia Centers, Williamsmouth, AL 09809",8907712983,Gold
4,2023-04-22,Nathaniel,Electronics,Camera,652.35,Meagan Peterson,epowell@example.net,"25357 Blackwell Locks, Andreabury, MH 27857",9999921886,Gold
...,...,...,...,...,...,...,...,...,...,...
5005,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold
5006,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold
5007,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold
5008,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold
5009,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold

In [8]:
columns=df.columns.tolist()
df[columns[10:]].head(20)

,SupplierName,SupplierLocation,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
0,"Rodriguez, Winters and Perez",Irwinhaven,6538306661,and Sons,Ground,49,31965.15,121.07,31844.08,475,127,348
1,Lawson-Wilkins,Calderonchester,NaN,PLC,Air,73,61862.39,91.09,61771.30,487,243,244
2,Lee-Miller,South Emilyview,+1-588-750-7646,PLC,Sea,89,34404.73,10.56,34394.17,341,188,153
3,Soto-Rivera,West Denise,805-650-6257x5876,LLC,Air,3,1092.03,69.06,1022.97,500,124,376
4,"Rodriguez, Winters and Perez",Irwinhaven,6538306661,Ltd,Sea,75,48926.25,137.17,48789.08,429,351,78
5,Soto-Rivera,West Denise,805-650-6257x5876,Inc,Ground,63,53388.09,103.22,53284.87,79,61,18
6,Soto-Rivera,West Denise,805-650-6257x5876,and Sons,Ground,39,25741.95,104.20,25637.75,339,296,43
7,Campos-Murillo,Lawsontown,822-222-4939,Group,Ground,60,39141.00,121.19,39019.81,305,53,252
8,"Wagner, Jackson and Holt",Port Sarahview,+1-362-752-2777x1817,Inc,Air,92,6256.92,18.11,6238.81,440,338,102
9,White and Sons,West Scott,288-572-7043,PLC,Air,55,20020.55,53.26,19967.29,260,254,6
10,Brown-Miller,Seanfort,(502)758-2166,LLC,Air,23,9961.30,33.11,9928.19,238,161,77
11,"Colon, Palmer and Welch",Antonioshire,230-757-6575x898,and Sons,Sea,1,660.05,56.28,603.77,121,13,108
12,"Mack, Wright and Mclaughlin",Alexandrachester,856-399-9995x715,Group,Ground,93,78137.67,251.64,77886.03,290,147,143
13,Roman-Chambers,Dennischester,001-324-909-1637x2831,and Sons,Sea,60,55818.00,136.73,55681.27,319,94,225
14,"Mathis, Olson and Ryan",Herreraland,(906)306-1777x264,and Sons,Ground,43,18623.30,37.60,18585.70,232,3,229
15,Lee-Miller,South Emilyview,+1-588-750-7646,Inc,Sea,11,10233.30,160.82,10072.48,250,130,120
16,Roman-Chambers,Dennischester,001-324-909-1637x2831,Group,Sea,67,56777.81,104.73,56673.08,214,113,101
17,"Mathis, Olson and Ryan",Herreraland,NaN,LLC,Air,51,23515.59,92.28,23423.31,412,41,371
18,"Mathis, Olson and Ryan",Herreraland,(906)306-1777x264,PLC,Air,6,4160.34,128.46,4031.88,295,93,202
19,Roman-Chambers,Dennischester,001-324-909-1637x2831,Inc,Air,40,37212.00,41.40,37170.60,356,147,209

In [67]:
pn = df['ProductName'].unique()
pn

array(['Nathaniel', 'NonExistentProduct', 'Angela', 'Amy', 'Justin',
       'Shannon', 'Martha', 'Elizabeth', 'Jamie', 'Robert', 'Shawn',
       'Anthony', 'Pamela', 'Fred', 'Wanda', 'Cynthia', 'Marvin', 'Katie',
       'Tammy', 'Michael', 'Kristine'], dtype=object)

In [68]:
pc = df['ProductCategory'].unique()
pc

array(['Electronics', 'InvalidCategory', 'Home & Garden', 'Books',
       'Clothing', 'Toys'], dtype=object)

In [69]:
ps = df['ProductSubCategory'].unique()
ps

array(['Camera', 'Mobile', 'Action Figures', 'Decor', 'Headphones',
       'Gardening Tools', 'Fiction', 'Shirt', 'Academic', 'Educational',
       'Non-fiction', 'Dolls', 'Furniture'], dtype=object)

In [70]:
sn = df['SupplierName'].unique()
sn

array(['Rodriguez, Winters and Perez', 'Lawson-Wilkins', 'Lee-Miller',
       'Soto-Rivera', 'Campos-Murillo', 'Wagner, Jackson and Holt',
       'White and Sons', 'Brown-Miller', 'Colon, Palmer and Welch',
       'Mack, Wright and Mclaughlin', 'Roman-Chambers',
       'Mathis, Olson and Ryan', 'Peck Group', 'Ramirez, Hicks and Lara',
       'Smith PLC', 'Gilbert, Miller and Lee', 'Higgins and Sons',
       'King-Rodriguez', 'Randall-Ballard', 'Thornton, Jackson and Gray'],
      dtype=object)

In [71]:
sl = df['SupplierLocation'].unique()
sl

array(['Irwinhaven', 'Calderonchester', 'South Emilyview', 'West Denise',
       'Lawsontown', 'Port Sarahview', 'West Scott', 'Seanfort',
       'Antonioshire', 'Alexandrachester', 'Dennischester', 'Herreraland',
       'West Lindafurt', 'Dustinmouth', 'Lake Candiceton',
       'Lake Juanland', 'West Johnbury', 'South Lindatown', 'Popeport',
       'Leslieville'], dtype=object)

In [72]:
shn = df['ShipperName'].unique()
shn

array(['and Sons', 'PLC', 'LLC', 'Ltd', 'Inc', 'Group'], dtype=object)

In [73]:
shm = df['ShippingMethod'].unique()
shm

array(['Ground', 'Air', 'Sea'], dtype=object)

In [74]:
# List the names of the four columns you want to use for checking duplicates
columns_to_check = ['QuantitySold', 'TotalAmount', 'DiscountAmount', 'NetAmount']

# Use the 'duplicated' method on the specified columns
duplicates = df.duplicated(subset=columns_to_check, keep='first')  # 'keep' can be 'first', 'last', or False

# The 'duplicates' Series will have True for rows that are duplicates based on the specified columns.

# If you want to see the rows that are duplicates, you can filter the DataFrame:
duplicate_rows = df[duplicates]

duplicate_rows

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,...,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
5000,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5001,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5002,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5003,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5004,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5005,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5006,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5007,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5008,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42
5009,2023-08-24,Angela,Toys,Action Figures,386.57,Bradley Smith,garciashawn@example.com,"Unit 6079 Box 2184, DPO AP 21061",(449)651-5198x65597,Gold,...,001-324-909-1637x2831,LLC,Ground,87,33631.59,88.77,33542.82,401,359,42

In [37]:
# uni = df.groupby('ProductID')['Price'].unique()
# uni

In [38]:
# uni = df.groupby('WarehouseID')['InventoryID'].unique()
# uni

In [39]:
# uni = df.groupby('WarehouseID')['InventoryID'].unique()
# uni

In [40]:
# name = df[df['SupplierContact'] == 'NaN']
# name

In [41]:
# duplicates = df[df['Location'].duplicated(keep=False)]

# duplicate_names = duplicates['Location'].unique()

# duplicates

In [17]:
# aa=df['UserSegment'].unique()
# aa

In [16]:
# zero = df[df['Price'] == 0].shape
# zero

In [7]:
# zero = df[df['Quantity'] == 0]
# zero

In [8]:
# lap = df[df['Product Name'] == 'LaptopPro']
# lap

In [9]:
# # Sort the DataFrame by the 'Name' column
# df_sorted = df.sort_values(by='Name')
# df_sorted

In [10]:
# duplicates = df[df['Name'].duplicated(keep=False)]

# duplicate_names = duplicates['Name'].unique()

# filtered_rows = df[df['Name'].isin(duplicate_names)]

# filtered_rows

In [11]:
# import matplotlib.pyplot as plt
# # Replace 'Age' with the name of the column you want to check for outliers
# column_name = 'Price'

# # Create a scatter plot to visualize outliers
# plt.figure(figsize=(8, 6))
# plt.scatter(range(len(df[column_name])), df[column_name])
# plt.title(f'Scatter Plot of {column_name}')
# plt.xlabel('Index')
# plt.ylabel(column_name)
# plt.show()

In [12]:
# filtered_rows = df[df['Age'] < 100 ]
# filtered_rows

In [13]:
# columns_with_nan = df.columns[df.isnull().any()]

# print("Columns with NaN values:")
# print(columns_with_nan)

In [14]:
# import pandas as pd

# # Assuming you have a DataFrame named 'df'
# # Replace 'df' with your actual DataFrame name

# # Iterate through each column
# for column in df.columns:
#     # Check if any value in the column contains a hyphen
#     if df[column].astype(str).str.contains('-').any():
#         print(f"Column '{column}' contains values with a hyphen.")

In [15]:
# column_values = df['FullAddress']

# print(column_values)